// HEADER
header{
    background-color: transparent;
    height: 8.8rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    .container{
        @include flex(row, center, space-between);
        nav{
            @include flex(row, center, space-between);
            gap: 5.9rem;
            ul{
                @include flex(row, center, space-between);
                gap: 4.8rem;
                li{
                    a{
                        @include typography($ff-highlight, 1.6rem, 500, 125%, $white);
                        transition: color .3s ease;
                        &:hover{
                            color: $brand-yellow;
                        }
                    }
                }
            }
            .burger{
                display: none;
            }
        }
        @include responsive(1115px){
            nav{
                gap: 2rem;
                ul{
                    gap: 2rem;
                }
            }
        }
        @include responsive(955px){
            .logo{
                max-width: 10.8rem;
            }
            nav{
                ul{
                    display: none;
                }
                .burger{
                    display: inline-block;
                    margin-left: 4rem;
                }
            }
        }
    }
    @include responsive(480px){
        height: 7.3rem;
        nav{
            .btn-secondary{
                display: none;
            }
        }
    }
}