// HERO
#s-hero{
    width: 100%;
    height: 78.6rem;
    background: url(../img/bg-hero.svg) no-repeat center center;
    padding-top: 8.8rem;
    .container{
        @include flex(row, flex-start, space-between);
        padding-top: 8.7rem;
    }
    .area-left{
        width: 100%;
        max-width: 68.2rem;
        padding-bottom: 13.5rem;
        h3{
            color: rgba(255, 255, 255, 0.8);
            font-weight: 600;
            line-height: 120%;
        }
        h1{
            color: $white;
            letter-spacing: -1px;
            margin: 3.2rem 0 3.9rem 0;
        }
        .benefits{
            @include flex(row, center, space-between);
            gap: 5.9rem;
            margin-top: 6.4rem;
            width: 100%;
            max-width: 62.1rem;
            .benefit{
                @include flex(row, center, space-between);
                gap: 1.2rem;
                .icon{
                    width: 4.8rem;
                    height: 4.8rem; 
                    background-color: linear-gradient(180deg, rgba(53, 203, 226, 0.4) 0%, rgba(53, 202, 226, 0) 100%);
                    border-radius: 50%;
                    @include flex(row, center, center);
                }
                p{
                    @include typography($ff-highlight, 1.8rem, 400, 2.2rem, $white);
                }
            }
        }
    }
    .area-right{
        width: 100%;
        max-width: 70.6rem;
        text-align: center;
        margin-right: -17.4rem;
        h1{
            font-size: 5.6rem;
            line-height: 8.4rem;
            letter-spacing: -2px;
            color: rgba(255, 255, 255, 0.4);
            margin-bottom: 6.7rem;
        }
        .images-hero{
            position: relative;
            width: 100%;
            height: 54.1rem;
            img{
                position: absolute;
                &.hero-card-front{
                    left: 0px;
                    top: 4.1rem;
                    z-index: 100;
                    max-width: 43.5rem;
                }
                &.hero-card-back{
                    right: 8.6rem;
                    top: 17.2rem;
                    z-index: 99;
                    max-width: 35.2rem;
                }
                &.hero-circle{
                    top: 2.8rem;
                    right: 4.3rem;
                    max-width: 55.3rem;
                }
            }
        }
    };
    @include responsive(1440px){
        .area-right{
            margin-right: -13.4rem;
        }
    }
    @include responsive (1366px){
        .area-right{
            margin-right: -8rem;
            .images-hero{
                img{
                    &.hero-card-back{
                        right: 4rem;
                    }
                }
            }
        }
    }
    @include responsive(1150px){
        height: 64.5rem;
        padding-top: 6rem;
        .area-left{
            .benefits{
                margin-top: 4rem;
            }
        }
        .area-right{
            margin-right: -4rem;
            h1{
                margin-bottom: 1.5rem;
            }
            .images-hero{
                height: 45rem;
                img{
                    &.hero-card-front{
                        max-width: 35rem;
                        top: 8rem;
                    }
                    &.hero-card-back{
                        max-width: 29rem;
                        bottom: 0;
                    }
                    &.hero-circle{
                        max-width: 46rem;
                    }
                }
            }
        }
    }
    @include responsive(995px){
        height: 89.1rem;
        background-size: cover;
        .container{
            flex-direction: column;
            align-items: center;
            padding-top: 6.2rem;
            .area-left{
                text-align: center;
                padding-bottom: 5rem;
                h3{
                    font-size: 1.8rem;
                    width: 100%;
                    max-width: 30rem;
                }
                h1{
                    margin: 2.4rem 0;
                    width: 100%;
                    max-width: 68.5rem;
                }
                .benefits{
                    max-width: 58.8rem;
                    margin-right: auto;
                    margin-left: auto;
                    .benefit{
                        gap: 1rem;
                        p{
                            font-size: 1.6rem;
                            text-align: left;
                        }
                    }
                }
            }
            .area-right{
                h1{
                    font-size: 4rem;
                    margin-bottom: 0;
                }
                .images-hero{
                    img{
                        &.hero-circle{
                            top: 0rem;
                            right: 13.3rem;
                            width: 42.9rem;
                        }
                        &.hero-card-front{
                            width: 34rem;
                            top: 4rem;
                            left: 6.6rem;
                        }
                        &.hero-card-back{
                            right: 14rem;
                            width: 27.4rem;
                        }
                    }
                }
            }
        }
    }
    @include responsive(700px){
        .container{
            .area-right{
                .images-hero{
                    img{
                        &.hero-card-front{
                            left: 0.6rem;
                        }
                        &.hero-card-back{
                            top: 12.2rem;
                        }
                    }
                }
            }
        }
    }
    @include responsive(400px){
        // height: auto;
        .container{
            padding-top: 5rem;
            .area-left{
                h3{
                    font-size: 1.6rem;
                    margin-inline: auto;
                }
                h1{
                    margin: 1.5rem 0 3.7rem 0;
                }
                .benefits{
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.6rem;
                    .benefit{
                        gap: 1.8rem;
                    }
                }
            }
            .area-right{
                max-width: 31.7rem;
                margin-inline: auto;
                h1{
                    display: none;
                }
                .images-hero{
                    img{
                        &.hero-circle{
                            width: 26.7rem;
                            right: 2.3rem;
                            // z-index: 1000;
                        }
                        &.hero-card-front{
                            width: 21rem;
                            top: 3rem;
                            z-index: 2;
                        }
                        &.hero-card-back{
                            width: 17rem;
                            right: 0rem;
                            top: 10.2rem;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}

// APP LEFT
#s-app{
    margin-top: 12.9rem;
    .container{
        @include flex(row, flex-start, space-between);
    }
    .app-left{
        width: 100%;
        max-width: 27.7rem;
        .app-left-top{
            width: 100%;
            max-width: 27.7rem;
            padding-bottom: 12.9rem;
            position: relative;
            .app-circle{
                max-width: 37.7rem;
                position: absolute;
                left: -21.4rem;
                top: 8.7rem;
                z-index: -1;
            }
        }
        .app-left-bottom{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .app-icon-neon{
                position: relative;
                &:before{
                    content: "";
                    width: 5px;
                    height: 83px;
                    position: absolute;
                    top: -104px;
                    left: 50%;
                    margin-left: -2.5%;
                    background: url('../img/dots-color.svg') no-repeat center center;
                }
            }
            .app-left-txt{
                text-align: center;
                margin: 3.1rem 0 2.6rem 0;
                h3{
                    color: $gray-600;
                }
                p{
                    color: rgba(95, 92, 107, 0.8);
                }
            }
            .apple-store{
                margin-bottom: 1.3rem;
            }
        }
    }
    .app-right{
        width: 100%;
        max-width: 80rem;
        .app-right-top{
            margin-bottom: 14.4rem;
            h2{
                color: $gray-600;
                max-width: 48.8rem;
                margin-bottom: 1.6rem;
            }
            ul{
                li{
                    padding: 3.3rem 0;
                    border-bottom: 1px solid rgba(225, 224, 231, 0.9);
                    @include flex(row, center, space-between);
                    .app-right-info{
                        @include flex(row, center, space-between);
                        gap: 4.3rem;
                        .app-right-txt{
                            h3{
                                color: $gray-400;
                            }
                            .p1{
                                color: $gray-300;
                            }
                        }
                    }
                }
            }
            a{
                @include typography($ff-highlight, 1.6rem, 500, 112%, $brand-blue);
                letter-spacing: -0.5px;
                margin-top: 3.2rem;
                display: inline-block;
                transition: color .3s ease;
                position: relative;
                &:hover{
                    color: $brand-yellow;
                }
                &:after{
                    content: "";
                    position: absolute;
                    right: -18px;
                    bottom: 0;
                    width: 10px;
                    height: 3px;
                    background-color: $brand-yellow;
                }
            }
        }

        .app-right-bottom{
            width: 100%;
            height: 41rem;
            background: url("../img/bg.svg") no-repeat center center;
            border-radius: 12px;
            @include flex(row, center, space-between);
            padding-left: 5.9rem;
            .app-right-img{
                margin-right: -9rem;
            }
            .app-right-txt{
                width: 100%;
                max-width: 38rem;
                h2,
                h3,
                p{
                    color: $white;                    
                }
                h3{
                    margin-top: 1.1rem;
                    margin-bottom: 8px;
                    max-width: 32.7rem;
                }
                .buttons{
                    margin-top: 3.1rem;
                    button:first-child{
                        margin-right: 1.6rem;
                    }
                }
            }
        }
    }
    @include responsive(1360px){
        .app-left{
            max-width: 35rem;
        }
        .app-right{
            max-width: 87.3rem;
        }
    }
    @include responsive(1230px){
        .app-left{
            max-width: 45rem;
            border: 1px solid red;
            .app-left-top{
                .app-iphone{
                }
            }
        }
        .app-right{
            max-width: 77.3rem;
        }
    }
}

// TESTIMONIALS
#s-testimonials{
    margin-top: 13.4rem;
    .test-top{
        @include flex(row, flex-end, space-between);
        margin-bottom: 4rem;
        h2{
            color: $gray-600;
            span{
                @include typography($ff-highlight, 4rem, 700, 112%, $gray-200);
                display: block;
            }
        }
        .swiper-pagination{
            position: relative;
            .swiper-pagination-bullet{
                background-color: $brand-yellow;
                opacity: 0.3;
                border-radius: 12px;
                transition: all .3s ease;
                &:not(:first-child){
                    margin-left: 4px;
                }
                &-active{
                    opacity: 1;
                    width: 1.7rem;
                }
            }
        }
    }
    .slide-test{
        overflow: hidden;
    }
}

// CONTA DIGITAL
#s-digital{
    padding: 12.7rem 0 8.5rem 0;
    .container{
        display: flex;
        align-items: center;
    }
    .digital-left{
        max-width: 54.2rem;
        h2{
            color: $gray-600;
            span{
                @include typography($ff-highlight, 4rem, 700, 112%, rgba(198, 197, 206, 0.8));
                display: block;
                margin-bottom: 9px;
            }
        }
        ul{
            margin: 4.5rem 0 6.1rem 0;
            li{
                @include flex(row, center, none);
                gap: 2.6rem;
                &:not(:last-child){
                    margin-bottom: 3.7rem;
                }
                .digital-icon{
                    @include flex(row, center, center);
                    background-color: $brand-green-light;
                    height: 4.5rem;
                    width: 4.5rem;
                    border-radius: 8px;
                }
                .digital-info{
                    h4{
                        color: $gray-400;
                        margin-bottom: 4px;
                    }
                    p{
                        color: $gray-300;
                    }
                }
            }
        }
    }
    .digital-right{
        position: relative;
        width: 100%;
        max-width: 71.2rem;
        height: 59.8rem;
        margin-right: -3.8rem;
        left: 12.5rem;
        img{
            position: absolute;
            &.cel2{
                right: 48.6rem;
                top: 7.8rem;
            }
            &.cel1{
                right: 23.3rem;
                top: 0;
            }
            &.circle3{
                bottom: 0;
                right: 0;
            }
        }
    }

}
