// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap');

// RESETS
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

html,
body{
    font-size: 62.5%;
    overflow-x: hidden;
    @include responsive(1300px){
        font-size: 58%;
    };
    @include responsive(995px){
        font-size: 62.5%;
    }
}

img{
    max-width: 100%;
}

button{
    cursor: pointer;
    background-color: transparent;
}

// VARIABLES
    $white: #fff;
    $black: #000;

    $brand-blue: #0073CE;
    $brand-light-blue: #00A5F0;
    $brand-green-light: #00D7D7;
    $brand-yellow: #FFC800;
    $brand-gradient: linear-gradient(99.31deg, #00A5F0 7.94%, #00D7D7 95.32%);

    $gray-600: #33303E;
    $gray-500: #4E4B59;
    $gray-400: #5F5C6B;
    $gray-300: #7A7786;
    $gray-200: #C6C5CE;
    $gray-100: #F1F0F5;

    $ff-highlight: 'Poppins', sans-serif;
    $ff-default: 'Inter', sans-serif;

// GRID
.container{
    width: 100%;
    max-width: 124.6rem;
    margin: 0 auto;
    padding: 0 15px;
}

// TYPOGRAPHY
h1, h2, h3, h4{
    font-family: $ff-highlight;
    color: $gray-500;
}

h1,
h2{
    line-height: 112%;
    letter-spacing: -1px;
}

h3,
h4{
    font-weight: 500;
    letter-spacing: -0.5px;
}

h1{ 
    font-size: 6.4rem;
    font-weight: 600;
    @include responsive(1150px){
        font-size: 5.5rem;
    }
    @include responsive(1025px){
        font-size: 4.5rem;
    }
    @include responsive(995px){
        font-size: 4.8rem;
    }
    @include responsive(400px){
        font-size: 3.2rem;
    }
}

h2{
    font-size: 4rem;
    font-weight: 700;
    @include responsive(1050px){
        font-size: 3.6rem;
    }
    @include responsive(768px){
        font-size: 3.2rem;
    }
    @include responsive(400px){
        font-size: 2.8rem;
    }
}

h3{
    font-size: 2.4rem;
    line-height: 150%;
    @include responsive(995px){
        font-size: 2.4rem;
    }
}

h4{
    font-size: 2rem;
    line-height: 112%;
    @include responsive(1100px){
        font-size: 2.4rem;
    }
    @include responsive(400px){
        font-size: 2rem;
    }
}

.p1,
.p2,
.p3{
    font-weight: 400;
    line-height: 150%;
    color: $gray-500;
}
.p1{
    font-size: 1.8rem;
}

.p2{
    font-size: 1.6rem;
}

.p3{
    font-size: 1.4rem;
}

